.divHeaderChats{
    min-height: 55px;
    background-color: #F0F2F5;
    display: flex;
    align-items: center;
    padding-left: 20px;
    
}
.logoChatHeader{
    max-height: 35px;
    max-width: 35px;
    object-fit: cover;
    border-radius: 50%;

}